<html>
  <body>
    <table>
      <thead>
        <tr>Nome</tr>
        <tr>Descrição</tr>
        <tr>Preço</tr>
        <tr>Quantidade</tr>
      </thead>
      <tbody>
        <tr>
          <td>Camiseta</td>
          <td>Bem bonita</td>
          <td>30</td>
          <td>10</td>
        </tr>
        <% items = Product.all %>
        <% items.each do |product| %>
          <tr>
            <td><%= product.name %></td>
            <td><%= product.description %></td>
            <td><%= product.value %></td>
            <td><%= product.amount %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </body>
</html>