<html>
  <body>
    <%= form_for Product.new do |form| %>
        Nome <input type="text" name="product[name]"> <br>
        Descrição <textarea name="product[description]"></textarea><br>
        Preço <input type="number" name="product[value]" step="0.01"><br>
        Quantidade <input type="number" name="product[amount]"><br>

        <button type="submit">Criar</button>
    <% end %>
  </body>
</html>